<link rel="stylesheet" href="../public/css/profile.css">
<div class="sub-box">
    <div class="profile_form">
    <form method="POST" action="/profile-upload-single" id="myForm"  enctype="multipart/form-data">
            <div class="profile_pic_box">
                <img id="profile_pic" src="../../public/uploads/{{profilePicture}}" alt="Profile picture">
                <i id="pen" class="fad fa-pen fa-2x" onclick="uploadpic()">
                    <input type="file" id="myfile" name="profile-file" required/>
                </i>
                
            </div>
        
        </form>
    </div>

    <div class="profile_details">
        <hr>
    
        <div class="pname">Name: <span id="p_name"></span></div>
        <br>
        <div class="pname">Email ID: {{email}}<span id="p_email"></span></div>
        
    </div>

    <div class="word_box">
        <hr>
        <div class="progress" id="progress_i">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress_bar_i" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="word_details">
            <div class="yet_to_learn_page">
                <p class="yet_to_learn">YET TO LEARN</p>
            </div>
            <div class="learning_page">
                <p class="learning">LEARNING</p>
            </div>
            <div class="learnt_page">
                <p class="learnt">LEARNT</p>
            </div>
        </div>
    </div>
    <div class="hidden">
        <p id="first_name" class="hidden">{{{firstName}}}</p>
        <p id="last_name" class="hidden">{{{lastName}}}</p>
        <p id="profile_pic" class="hidden">{{{profilePicture}}}</p>
    </div>
</div>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<script src="../../public/js/profile.js"></script>
{{!-- <script>
    window.addEventListener('load', (event) => {
            console.log('page is fully loaded');
            let name="{{firstName}} {{lastName}}"
            document.getElementById("right_name").innerText=name;
            document.getElementById("p_name").innerText=name;
         
    });

    

    function uploadpic(){
        console.log("entered");
        let file=document.getElementById('myfile');
        let myForm=document.getElementById('myForm');
        file.click();
        let upload = document.getElementById('Upload');
        file.addEventListener("change", function() {
            myForm.submit();
            for (var i = 0; i < file.files.length; i++) {
                console.log(file.files[i].name);
                document.getElementById("profile_pic").src=URL.createObjectURL(file.files[i]);
                
            }  

            
        
        }, false);
    }
</script> --}}
