<link rel="stylesheet" href="../public/css/sessions.css">
{{#if insufficientWords}}  
    <h2 class="error">Not enough words to start the MCQ Test</h2>
{{else}}
    <div class="main-navbar">
    <div class="center-navbar">
        <form action="/mcq">
            <button type="submit" class="btn btn-primary">PROCEED TO TEST</button>
        </form>
    </div>    
    <div class="right_navbar">
        <div id="right_name"></div>
            <div id="right_profile">
                <div class="dropdown">
                    <img id="img_profile" src="" alt="">
                        <div class="dropdown-content">
                            <a id="dashboard_link" aria-label="Dashboard" href="/dashboard">Dashboard</a>
                            <a id="profile_link" aria-label="Profile" href="/profile">Profile</a>
                            <a id="viewwords_link" aria-label="View Words" href="/viewWords">Words</a>
                            <a id="flashcard_link" aria-label="Flashcard Sessions" href="/flashcard/sessions">Flashcard Test</a>
                            <a id="mcq_link" aria-label="MCQ Sessions" href="/mcq/sessions">MCQ Test</a>
                            <a id="logout_link" aria-label="Logout" href="/logout">Logout</a>

                        </div>
                </div>    
            </div>
        </div>
    </div>
    
    <div class="results">
    <h1 class="f_heading">PREVIOUS TEST SCORES</h1>
    {{#each sessions}}
        <div class="result1">
            <div class="test1">
                <h4>Test <span class="test_no">{{id}}</span></h4>   
            </div>
            <p class="res"><span class="res_h">Result: </span><span class="s_marks_scored">{{marks}}</span>/<span class="s_total_marks">{{total}}</span></p>
            <p class="res"><span class="res_h">Percentage: </span><span class="s_total_marks">{{percentage}}</span></p>
            <p class="right"><span class="right_h">Words you got right: </span><span class="s_correct_words">{{correct}}</span></p>
            <p class="wrong"><span class="wrong_h">Words you got incorrect: </span><span class="s_incorrect_words">{{incorrect}}</span></p>
            
            <p class="res"><span class="res_h">Submitted On: </span><span class="s_marks_scored">{{time}}</span></p>
            
        </div>
    {{/each}}
    </div>
{{/if}}
<div class="hidden">
    <p id="first_name" class="hidden">{{{firstName}}}</p>
    <p id="last_name" class="hidden">{{{lastName}}}</p>
    <p id="image_src" class="hidden"></p>
</div>
<script src="../../public/js/mcqsessions.js"></script>