<link rel="stylesheet" href="../public/css/sessions.css">
{{#if insufficientWords}}  
    <h1 class="error">Not enough words learnt to start the MCQ Test (Need to learn atleast 5)</h1>
{{else}}
    <div class="main-navbar">
    <div class="center-navbar">
        <form class="proceed-to-test-btn" action="/mcq">
            <button type="submit" id="btn_s" class="btn btn-primary">PROCEED TO TEST</button>
        </form>
    </div>    
    <div class="right_navbar">
        <div id="right_name">{{firstName}} {{lastName}}</div>
            <div id="right_profile">
                <div class="dropdown">
                    <img id="img_profile" src="/public/uploads/{{profilePicture}}" alt="">
                        <div class="dropdown-content">
                            <a id="dashboard_link" aria-label="Dashboard" href="/dashboard">Dashboard</a>
                            <a id="profile_link" aria-label="Profile" href="/profile">Profile</a>
                            <a id="viewwords_link" aria-label="View Words" href="/viewWords">Words</a>
                            <a id="flashcard_link" aria-label="Flashcard Sessions" href="/flashcard/sessions">Flashcard Test</a>
                            <a id="mcq_link" aria-label="MCQ Sessions" href="/mcq/sessions">MCQ Test</a>
                            <a id="feedback_link" aria-label="Feedback" href="/feedback">Feedback</a>
                            <a id="logout_link" aria-label="Logout" href="/logout">Logout</a>

                        </div>
                </div>    
            </div>
        </div>
    </div>
    
    <div class="results">
        {{#if sessions}}   
            <h1 class="f_heading">PREVIOUS TEST SCORES</h1>
            {{#each sessions}}
                <div class="result1">
                    <div class="test1">
                        <h2>Test <span class="test_no">{{id}}</span></h2>   
                    </div>
                    <p class="res"><span class="res_h">Result: </span><span class="s_marks_scored">{{marks}}</span>/<span class="s_total_marks">{{total}}</span></p>
                    <p class="res"><span class="res_h">Percentage: </span><span class="s_total_marks">{{percentage}}</span></p>
                    <p class="right"><span class="right_h">Words you got right: </span><span class="s_correct_words">{{correct}}</span></p>
                    <p class="wrong"><span class="wrong_h">Words you got incorrect: </span><span class="s_incorrect_words">{{incorrect}}</span></p>
                    
                    <p class="res"><span class="res_h">Submitted On: </span><span class="s_marks_scored">{{time}}</span></p>
                    
                </div>
            {{/each}}
        {{else}}
            <h1 class="error">No previous test scores</h1>
        {{/if}}
    </div>

{{/if}}
<script src="../../public/js/mcqsessions.js"></script>