<link rel="stylesheet" href="../public/css/flashcard.css">
<div id="startFlashcardTest">
    <Button type="button" id="flashcard-btn" class="btn btn-secondary" onclick="startTest()">Take Test</Button>
</div>
<div id="flashcard-content">
    <div class="card text-white bg-secondary mb-3" id="card1" style="max-width: 70rem;">
        <div class="front_body" id="front_card">
            <div class="card-header">Question #<span id="cardHeader"></span></div>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;" id="cardTitle"></h5>
                        <p class="card-text" style="text-align: center;" id="cardText">Do you know this word?</p>
                            <div class="flashcard-options" id="flashcardOptions">
                                <div onclick="changeWord()">
                                    <i class="fas fa-check fa-4x"></i>
                                </div>
                                <div onclick="flipCard()">
                                    <i class="fas fa-times fa-4x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-white bg-secondary mb-3" id="card2" style="max-width: 70rem;">  
                    <div class="front_body" id="back_card">
                        <h5 class="card-header" style="text-align: center;" id="word"></h5>
                        <div class="card-body">
                        <h5 class="card-title" style="text-align: center;" id="meaning"></h5>
                        <p class="card-text" style="text-align: center;">Synonym : <span id="synonym"></span></p>
                        <p class="card-text" style="text-align: center;">Antonym : <span id="antonym"></span></p>
                        <p class="card-text" style="text-align: center;">Example : <span id="example"></span></p>
                        <div class="flashcard-options1">
                            <div onclick="changeWordBack()">
                                <i class="fas fa-check fa-4x"></i>    
                        </div>        
                    </div>   
            </div>
        </div>
    </div>
</div>

<div id="result_box">
    <div class="row">
            <div class="col-9 sub-box-result" style="background-color: white;">
                <div class="report_heading">
                    <h4>MCQ Report Card</h4>
                </div>
                <br>
                <h6>Marks Secured: <span id="marks_sec"></span></h6>
                <h6>Total Marks: <span id="total_m"></span></h6> 
                <br>           
                <div class="circle-wrap">
                    <div class="circle">
                        <div class="mask half">
                            <div class="fill1"></div>
                        </div>
                        <div class="mask full1">
                            <div class="fill1"></div>
                        </div>
                        <div id="i-circle1" class="inside-circle" style="background-color: rgb(217, 247, 174);"></div>
                    </div>
                </div>

                <div class="report_ending">
                    <h6>Percentage of marks secured (%)</h6>
                    <br>
                    <br>
                    <table id="report_table">
                        <tr>
                           <th>Question</th>
                           <th>Correct Or Not</th> 
                        </tr>
                    </table>
                    <br>
                    <br>
                </div>
             </div>
    </div>
</div>  
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script  type = "text/javascript">
                let wordCount=-1;
                let correctCount=0;
                let wrongCount=0;
                let questions=[];
                let meaning=[];
                let synonyms=[];
                let antonyms=[];
                let examples=[];
                {{#each flashcardList}}
                    
                    questions.push("{{question_word}}");
                    meaning.push("{{meaning}}");
                    synonyms.push("{{synonyms}}");
                    antonyms.push("{{antonyms}}");
                    examples.push("{{examples}}");
                {{/each}}
                    
                let words=[];
                for(let i=0;i<10;i++){
                    word["word"]=questions[i];
                    word["meaning"]=meaning[i];
                    word["synonyms"]=synonyms[i];
                    word["antonyms"]=antonyms[i];
                    word["example"]=examples[i];
                    word["userSelection"]="";
                    word["correctOrNot"]="";
                    
                    words.push(word);
                    word={};
                
                }
                function startTest(){
                    document.getElementById("flashcard-content").style.display="grid";
                    changeWord();
                    document.getElementById("startFlashcardTest").style.display="none";
                }

                function changeWord(){
                    console.log("inside the fn");
                    if(wordCount+1===words.length){
                        words[wordCount].userSelection=true;
                        correctCount++;
                        const card=document.querySelector("#card1");
                        const back_card=document.querySelector("#back_card");
                        document.getElementById("back_card").style.display="none";
                        const t1=new TimelineMax();
                        t1.fromTo(card,1,{left: "10%",opacity:"1"},{left:"80%",opacity:"0"});
                        t1.fromTo(card,1,{left: "80%",opacity:"0"},{left:"10%",opacity:"1"});
                        eval();
                    }else if(wordCount===-1){
                        const card=document.querySelector("#card1");
                        const back_card=document.querySelector("#back_card");
                        document.getElementById("back_card").style.display="none";
                        const t1=new TimelineMax();
                        t1.fromTo(card,1,{left: "10%",opacity:"1"},{left:"80%",opacity:"0"});
                        let newObj=woord();
                        document.getElementById("cardHeader").innerHTML=newObj["queNo"];
                        document.getElementById("cardTitle").innerHTML=newObj["word"];
                        document.getElementById("cardText").innerHTML=newObj["title"];
                        document.getElementById("word").innerHTML=newObj["word"];
                        document.getElementById("meaning").innerHTML=newObj["meaning"];
                        document.getElementById("synonym").innerHTML=newObj["synonyms"];
                        document.getElementById("antonym").innerHTML=newObj["antonyms"];
                        document.getElementById("example").innerHTML=newObj["example"];
                        document.getElementById("flashcardOptions").innerHTML=newObj["option"];
                        t1.fromTo(card,1,{left: "80%",opacity:"0"},{left:"10%",opacity:"1"});
                    }
                    else{
                        words[wordCount].userSelection=true;
                        correctCount++;
                        const card=document.querySelector("#card1");
                        const back_card=document.querySelector("#back_card");
                        document.getElementById("back_card").style.display="none";
                        const t1=new TimelineMax();
                        t1.fromTo(card,1,{left: "10%",opacity:"1"},{left:"80%",opacity:"0"});
                        let newObj=woord();
                        document.getElementById("cardHeader").innerHTML=newObj["queNo"];
                        document.getElementById("cardTitle").innerHTML=newObj["word"];
                        document.getElementById("cardText").innerHTML=newObj["title"];
                        document.getElementById("word").innerHTML=newObj["word"];
                        document.getElementById("meaning").innerHTML=newObj["meaning"];
                        document.getElementById("synonym").innerHTML=newObj["synonyms"];
                        document.getElementById("antonym").innerHTML=newObj["antonyms"];
                        document.getElementById("example").innerHTML=newObj["example"];
                        document.getElementById("flashcardOptions").innerHTML=newObj["option"];
                        t1.fromTo(card,1,{left: "80%",opacity:"0"},{left:"10%",opacity:"1"});
                    }
                    
                }
                function woord(){
                    let newObj={};
                    wordCount++;
                    let queNo=document.getElementById("cardHeader").innerHTML;
                    let que=document.getElementById("cardText").innerHTML;
                    let options=document.getElementById("flashcardOptions").innerHTML;
                    console.log(que);
                    newObj["queNo"]=wordCount+1;
                    newObj["title"]=que;
                    newObj["word"]=words[wordCount].word.toUpperCase();
                    newObj["meaning"]=words[wordCount].meaning;
                    newObj["synonyms"]=words[wordCount].synonyms;
                    newObj["antonyms"]=words[wordCount].antonyms;
                    newObj["example"]=words[wordCount].example;
                    newObj["option"]=options;
                    return newObj;
                }

                function fadeout(newObj){
                    console.log(newObj);
                }

                function flipCard(){
                    wrongCount++;
                    const t1=new TimelineMax();
                    const front_card=document.querySelector("#front_card");
                    const card1=document.querySelector("#card1");
                    const card2=document.querySelector("#card2");
                    const back_card=document.querySelector("#back_card");
                    document.getElementById("front_card").style.display="none";
                    t1.fromTo(front_card,1,{transition: "transform",transform:"rotateY(0deg)",display:"grid",opacity:1},{transition: "transform",transform:"rotateY(180deg)",display:"none",opacity:0})
                    .fromTo(card1,0,{display:"flex",opacity:1},{display:"none",opacity:0})
                    .fromTo(card2,0,{display:"none",opacity:0},{display:"flex",opacity:1})
                    .fromTo(back_card,1,{display:"none",opacity:0},{display:"grid",opacity:1});
                    document.getElementById("card2").style.display="none";
                    // document.getElementById("word").innerHTML;
                }

                function changeWordBack(){
                    const card=document.querySelector("#card1");
                    const back_card=document.querySelector("#back_card");
                    document.getElementById("back_card").style.display="none";
                    document.getElementById("card2").style.display="none";
                    document.getElementById("card1").style.display="grid";
                    document.getElementById("front_card").style.display="grid";
                    document.getElementById("front_card").style.opacity=1;
                    document.getElementById("front_card").style.transition="transform";
                    document.getElementById("front_card").style.transform="rotateY(0deg)";
                    const t1=new TimelineMax();
                    t1.fromTo(card,1,{left: "10%",opacity:"1"},{left:"80%",opacity:"0"});
                    if(wordCount+1===words.length){
                        t1.fromTo(card,1,{left: "80%",opacity:"0"},{left:"10%",opacity:"1"});
                        eval();
                    }else{
                        words[wordCount+1].userSelection=false;
                        let newObj=woord();
                        document.getElementById("cardHeader").innerHTML=newObj["queNo"];
                        document.getElementById("cardTitle").innerHTML=newObj["word"];
                        document.getElementById("cardText").innerHTML=newObj["title"];
                        document.getElementById("word").innerHTML=newObj["word"].toUpperCase();
                        document.getElementById("meaning").innerHTML=newObj["meaning"];
                        document.getElementById("synonym").innerHTML=newObj["synonyms"];
                        document.getElementById("antonym").innerHTML=newObj["antonyms"];
                        document.getElementById("example").innerHTML=newObj["example"];
                        document.getElementById("flashcardOptions").innerHTML=newObj["option"];
                        t1.fromTo(card,1,{left: "80%",opacity:"0"},{left:"10%",opacity:"1"});
                    }
                    
                    
        }
         function eval(){
            let percentage=Math.round(correctCount/words.length*100);
            console.log("Marks secured: "+correctCount+" out of "+words.length);
            console.log("Percentage of Marks secured: "+percentage);
            triggerGraphs(correctCount,words.length,percentage);
            let session={};
            session["words"]=words;
            
            session["number_of_correct"]=correctCount;
          //  document.getElementById("submit-button").click();
            
            return session;
        }
        


        function triggerGraphs(number_of_correct,number_of_words,percentage){
                console.log("entered");
                document.getElementById("flashcard-content").style.display="none";
                document.getElementById("result_box").style.display="grid";
                for(let k=0;k<words.length;k++){
                    let row=document.createElement("tr");
                    let col1=document.createElement("td");
                    col1.innerText= words[k]["word"];
                    let col2=document.createElement("td");
                    if(words[k]["userSelection"]===true){
                        col2.innerHTML='<i class="fas fa-check-square"></i>';
                    }else{
                        col2.innerHTML='<i class="fas fa-times-circle"></i>';
                    }
                    row.appendChild(col1);
                    row.appendChild(col2);
                    document.getElementById("report_table").appendChild(row);
                }
                document.getElementById("marks_sec").innerText=correctCount;
                document.getElementById("total_m").innerText=words.length;
                document.getElementById('i-circle1').innerText=percentage.toString()+"%";
                let deg1=(percentage/100*360)/2;
                degree1=deg1.toString()+"deg";
                fill1=document.getElementsByClassName('fill1');
                full1=document.getElementsByClassName('full1');
                const t1=new TimelineMax();
                t1.fromTo(fill1,1,{transition: "transform",transform:"rotate(0deg)",ease:Power1.easeInOut},{transition: "transform",transform:"rotate("+degree1+")"}).
                fromTo(full1,1,{transition: "transform",transform:"rotate(0deg)",ease:Power1.easeInOut},{transition: "transform",transform:"rotate("+degree1+")"},"-=1");

        }
</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        